{
  "wtag":{
    "tag_ids": [0,1,2],
    "email": "user@example.com",
    "password": "secret",
    "timezone": "Europe/Helsinki",
    "base_url": "https://my.wirelesstag.net"
  },
  "influx":{
    "write_url": "https://influx.local/influxdb/write?db=influxdb",
    "schema":{
      "measurement": "wtag",
      "stat_map":{
        "temperature": "temp",
        "cap": "humidity",
        "dp": "dewpoint",
        "batteryVolt": "battery"
      }
    }
  }
}
